/*---------- HOME PAGE CENTERING ---------*/
html, body, #wrapper, .container-table {
	color: #383838;
	font-family: 'Lato', sans-serif;
	height: 100%;
}

.container-table {
	display: table;
}

.vertical-center-row {
	display: table-cell;
	vertical-align: middle;
}
/*---------------------------------------*/

#home {
	background: url("images/PDX.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0;
	min-height: 100%;
	width: 100%;
}

#home-title {
	font-family: 'Suranna', serif;
	font-size: 10em;
}

#home-list {
	padding: 0;
}

.home-list-item {
	color: #ED208A;
	display: inline-block;
	letter-spacing: .1em;
	margin: -1em .2em 0 .2em;
}

#about {
	background: white no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0;
	min-height: 100%;
	width: 100%;
}

.section-title {
	font-family: 'Suranna', serif;
	font-size: 7em;
}

.section-content {
	color: #757575;
}

.sidebar {
  position: fixed;
  z-index: 200;
  background-color: #FFFFFF;
  transition: transform 0.3s;
}

.sidebar__items {
	font-family: 'Suranna', serif;
	font-size: 3em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__close {
  background-color: #3184a1;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.sidebar__close:focus {
  outline: none;
}

body.has-active-menu {
  overflow: hidden;
}

.mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.sidebar--slide-left {
  width: 100%;
  height: 100%;
}

@media all and (min-width: 320px) {
  .sidebar--slide-left {
    width: 300px;
  }
}

.sidebar--slide-left .sidebar__item {
  display: block;
  text-align: center;
}

/*.sidebar--slide-left .sidebar__item:first-child {
  border-top: none;
}*/

/*.sidebar--slide-left .sidebar__item:last-child {
  border-bottom: none;
}*/

.sidebar--slide-left .sidebar__link {
  display: block;
  padding: 12px 24px;
  color: #383838;
}

.sidebar--slide-left .sidebar__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.sidebar--slide-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .sidebar--slide-left {
    transform: translateX(-300px);
  }
}

.sidebar--slide-left.is-active {
  transform: translateX(0);
}