html, body, #wrapper, .container-table {
	color: #383838;
	font-family: 'Lato', sans-serif;
	height: 100%;
}

a:link, a:hover, a:active, a:visited {
	color: #383838;
}

a:hover {
	color: #ED208A;
	text-decoration: none;
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
}

#hamburger {
	color: #ED208A;
	font-family: 'Suranna', serif;
	font-size: 2em;
	position: fixed;
	left: 1%;
	z-index: 100;
}

/*---------- HOME PAGE CENTERING ---------*/
.container-table {
	display: table;
}

.vertical-center-row {
	display: table-cell;
	vertical-align: middle;
}
/*----------------------------------------*/
/*--------------- HOME PAGE --------------*/
#home {
	background: url("images/PDX.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0;
	min-height: 100%;
	width: 100%;
}

#home-title {
	font-family: 'Suranna', serif;
	font-size: 10em;
}

#home-list {
	padding: 0;
}

.home-list-item {
	color: #ED208A;
	display: inline-block;
	letter-spacing: .1em;
	margin: -1em .2em 0 .2em;
}

/*----------------------------------------*/
/*---------------- SECTIONS ---------------*/
.section-title {
	font-family: 'Suranna', serif;
	font-size: 7em;
	margin-bottom: .25em;
}
/*----------------------------------------*/
/*-------------- MEDIA QUERY -------------*/
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) {
		#home-title {
			font-size: 5em;
		}
		.home-list-item {
			font-size: .6em;
			letter-spacing: 0;
		}
		.section-title {
			font-size: 5em;
		}
}
/*----------------------------------------*/
/*--------------- ABOUT PAGE --------------*/
section#about {
	background-color: white;
	margin-top: 0;
	min-height: 100%;
	width: 100%;
}

.about-content {
	font-size: 1.1em;
	margin-top: 0;
}

#about-content-last {
	margin-bottom: 3em;
}

#about-pic {
	border: .25em solid #ED208A;
	max-width: 100%;
	margin-bottom: 1em;
}
/*----------------------------------------*/
/*-------------- SKILLS PAGE -------------*/
section#skills {
	background-color: #CCCCCC;
	margin-top: 0;
	min-height: 100%;
	width: 100%;
}

.thumbnail-skills {
	background-color: white;
	border: none;
	border-radius: 0;
	height: 283px;
	min-width: 200px;
}

.thumbnail-skills-last {
	margin-bottom: 3em;
}

.skills-list {
	color: #383838;
	font-size: 1.1em;
	list-style: none;
	padding-left: 0;
}
/*----------------------------------------*/
/*------------- PORTFOLIO PAGE ------------*/
section#portfolio {
	background-color: #383838;
	color: #CCCCCC;
	margin-top: 0;
	min-height: 100%;
	width: 100%;
}

.thumbnail-portfolio {
	background-color: #383838;
	border: 0;
}

a.caption-item {
	color: #CCCCCC;
	display: inline-block;
	padding: 0 .5em;
}

a.caption-item:hover {
	color: #ED208A;
	text-decoration: none;
}

.github {
	font-size: 2em;
}

.caption-list {
	color: #CCCCCC;
	list-style: none;
	padding-left: 0;
}

.caption-list-item {
	padding: .5em 0;
}
/*----------------------------------------*/
/*------------- CONTACT PAGE ------------*/
section#contact {
	background-color: rgba(237, 32, 138, 0.1);
	margin-top: 0;
	min-height: 50%;
	width: 100%;
}

#contact-list {
	padding: 0;
}

.contact-list-item {
	color: #ED208A;
	display: inline-block;
	font-size: 5em;
	margin: 0 .25em;
}

.contact-list-item:hover {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
}
/*----------------------------------------*/

.sidebar {
	position: fixed;
	z-index: 200;
	background-color: #FFFFFF;
	transition: transform 0.3s;
}

.sidebar__items {
	font-family: 'Suranna', serif;
	font-size: 3em;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar__close {
	background-color: #FFF;
	color: #383838;
	font-family: 'Suranna', serif;
	font-size: 2.5em;
	border: none;
	box-shadow: none;
	border-radius: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.sidebar-close:hover {
	color: #ED208A;
}

.sidebar__close:focus {
	outline: none;
}

body.has-active-menu {
	overflow: hidden;
}

.mask {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	background-color: #383838;
	opacity: 0;
	transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.is-active {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	transition: opacity 0.3s;
}

.sidebar--slide-left {
	width: 100%;
	height: 100%;
}

@media all and (min-width: 320px) {
	.sidebar--slide-left {
		width: 150px;
	}
}

.sidebar--slide-left .sidebar__item {
	display: block;
	text-align: center;
}

/*.sidebar--slide-left .sidebar__item:first-child {
  border-top: none;
}*/

/*.sidebar--slide-left .sidebar__item:last-child {
  border-bottom: none;
}*/

.sidebar--slide-left .sidebar__link {
	display: block;
	padding: 12px 24px;
	color: #383838;
}

.sidebar__link:hover {
	color: #ED208A;
}

.sidebar--slide-left .sidebar__close {
	display: block;
	padding: 12px 24px;
	width: 100%;
}

.sidebar--slide-left {
	top: 0;
	left: 0;
	transform: translateX(-100%);
}

@media all and (min-width: 320px) {
	.sidebar--slide-left {
		transform: translateX(-300px);
	}
}

.sidebar--slide-left.is-active {
	transform: translateX(0);
}