* {
	margin: 0;
	padding: 0;
}

html, body, .container {
	position: relative;
	/*width: 100%;*/
	height: 100%;
	font-family: 'Renner*', sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: .07em;
}

body {
	overflow-y: scroll;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	background: #e4e4e4;
}

body:before, body:after {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 10px;
  background-color: #fff;
  content: "";
}

body:before {
	top: 0;
}

body:after {
	bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	letter-spacing: .075em;
}

h1 {
	margin-bottom: .75em;
	font-size: 2em;
}

h4 {
	margin-bottom: .5em;
	font-size: 1.125em;
}

h6 {
	font-family: 'Renner*', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
}

p {
	margin-bottom: .5em;
	font-size: 1em;
	line-height: 1.3;
}

li {
	list-style: none;
	line-height: 1.3;
}

a {
	color: inherit;
	text-decoration: none;
}

section {
	margin-bottom: 1em;
}

svg {
	fill: #fff;
}

/*.container {
	overflow: hidden;
}*/

.bg {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.bg-side {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bg-left {
	left: 0;
}

.bg-left--image {
	height: 100%;
	background: url("images/home-ux.jpg") no-repeat top left;
	background-size: cover;
}

.bg-right {
	left: 50%;
	/*right: -21%;*/
	width: 70vw;
	transform: skew(30deg);
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
}

.bg-right--image {
	width: 120%;
	height: 100%;
	margin-left: -45%;
	background: url("images/home-yoga.jpg") no-repeat bottom right;
	background-size: cover;
	transform: skew(30deg);
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
}

.splitlayout {
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

/* Intro sides */
.side {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

.open-left .side,
.open-right .side {
	cursor: default;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 499;
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.side-left .overlay {
	background: rgba(0,0,0,0.7);
}

.side-right .overlay {
	background: rgba(0,0,0,0.3);
}

.side-left {
	left: 0;
	background-color: rgba(19, 128, 150, .75);
}

.side-right {
	width: 70vw;
	left: 50%;
	/*right: -21%;*/
	transform: skew(30deg);
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	outline: 1px solid #fff;
}

.intro-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 19em;
	text-align: center;
}

.intro-logo {
	margin-bottom: .5em;
}

.intro-links {
	font-family: 'Open Sans', sans-serif;
  font-size: 2.25em;
  font-weight: 300;
  letter-spacing: .025em;
	color: #fff;
}

.intro-links--left,
.intro-links--right {
	cursor: pointer;
}

/*.page {
	position: relative;
	top: 0;
	overflow: auto;
	min-height: 100%;
	width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}*/

.page-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-inner {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(19, 128, 150, .75);
	color: #fff;
	transform: skew(-30deg);
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	outline: 1px solid #fff;
}

.page-inner--icons {
	display: inline-block;
	vertical-align: top;
	width: 2em;
	text-align: center;
}

.page-inner--icons > a {
	display: block;
	margin-bottom: 1.25em;
	height: 2em;
}

.page-inner--main {
	display: inline-block;
	vertical-align: top;
	width: 24em;
	margin-left: 2em;
}

.page-inner--main-half {
	display: inline-block;
	vertical-align: top;
	width: 49%
}

.page-right .page-bg {
	background: url("images/home-ux.jpg") no-repeat top left;
	background-size: cover;
}

.page-inner--content {
	position: relative;
	top: 50%;
	transform: skew(30deg) translate(-50%, -50%);
	-webkit-transform: skew(30deg) translate(-50%, -50%);
	-moz-transform: skew(30deg) translate(-50%, -50%);
	-o-transform: skew(30deg) translate(-50%, -50%);
	max-width: 55%;
}

.page-right .page-inner {
	width: 70vw;
	left: 50%;
	/*right: -21%;*/
}

.page-right .page-inner .page-inner--content {
  left: 57%;
}

.page-left .page-bg {
	background: url("images/home-yoga.jpg") no-repeat bottom right;
	background-size: cover;
}

.page-left .page-inner {
	left: -50%;
}

.page-left .page-inner .page-inner--main {
	margin-right: 2em;
	text-align: right;
}

.page-left .page-inner .page-inner--content {
  left: 95%;
}
